:root {
    --ff-primary: 'Poppins', sans-serif;
    --clr-primary: #fe6845;
    --spacer: 1rem;
    --clr-blue: #4090ff;
    --clr-dark: #000;
    --clr-white: #ffffff;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
  
  h1 {
    margin: 3rem 0;
    text-align: center;
    font-size: clamp(2rem, 1rem + 3vw, 6rem);
    font-weight: 300;
    line-height: 1;
    opacity: 0.2;
  }

  body {
    font-family: var(--ff-primary);
    min-height: 100vh;
    font-size: 1em;
    line-height: 1.6;
    color: var(--clr-body);
    background: var(--clr-bg);
    padding-bottom: 3rem;
    margin: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav-container {
    position: sticky;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    z-index: 10;
    background-color: var(--clr-white);
}

nav.menu {
    display: flex;
}

ul {
    list-style-type: none;
}

ul.navbar li {
    display: inline;
}

.logo,
.navbar {
    margin: 15px auto;
    padding: 0;

}

nav a {
    text-decoration: none;
    color: #112e51;
}

ul.navbar {
    display: flex;
}

ul.navbar>li a {
    padding: 8px;
    border: 1px solid transparent;
    background: var(--clr-white);
    border-radius: 8px;
}

ul.navbar>li a:hover {
    padding: 8px;
    border: 1px solid black;
    border-radius: 8px;
}

@media screen and (max-width: 600px) {
    nav.menu {
        flex-wrap: wrap;
        text-align: center;
    }

    .logo,
    .navbar {
        flex: 100%;
    }

    ul.navbar {
        justify-content: center;
    }
}

.section {
    padding: 2em;
}

.gradient_background {
    background: linear-gradient(-45deg, #ffcb2a, #FFA046, #ff7142, #ff6043);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.content_card {
    background-color: var(--clr-white);
    max-width: 60rem;
    margin: 0 auto;
    border-radius: 8px;
    padding: 1em;
}

h2 {
    text-align: center;
}

.splide-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dark_background {
    background-color: var(--clr-white);
}

.grid {
    padding: 1em;
    --gap: 1em;
    --columns: 3;
    max-width: 60rem;
    margin: 0 auto;
    columns: var(--columns);
    gap: var(--gap);
    position: relative;
  }
  
.grid>* {
    break-inside: avoid;
    margin-bottom: var(--gap);
}

@supports (grid-template-rows: masonry) {
    .grid {
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-template-rows: masonry;
        grid-auto-flow: dense;
    }

    .grid>* {
        margin-bottom: 0em;
    }
}

.featured {
    grid-column: span 2;
}

.flow>*+* {
    margin-top: var(--flow-space, var(--spacer));
}

.grid a {
    color: var(--clr-primary);
}

img {
    max-width: 100%;
}

.content {
    padding: 2em;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
    background: var(--clr-dark);
    border-radius: 10px;
}

.title {
    font-weight: 900;
    color: var(--clr-primary);
    line-height: 1.2;
    margin-bottom: 0.4em;
}

.autotrader {
    background-color: var(--clr-blue);
}

.autotrader .portfolio {
    display: flex;
    justify-content: space-between;
}

.autotrader .portfolio > div {
    width: 50%;
}

.autotrader .clip_card {
    background: url(../src/images/ford.png) center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 270px;
    width: 50%;
}

.autotrader .clip_card:before {
    position: absolute;
    top: 0px;
    left: 0;
    height: 100%;
    width: 80%;
    -webkit-clip-path: polygon(0 0, 100% 0, 46% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 46% 100%, 0% 100%);
    content: "";
    background: url(../src/images/bmw.png) center center;
    background-size: contain;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}